.buttons{
    float: right;
}
.topButtons{
    color:white;
    font-size: 16px;
    border: 3px solid rgb(230, 230, 230) ;
    background-color: blue;
    margin: 5px 7px 5px 0;
    padding: 7px 15px;
}
.logo-title{
    font-family: 'Satisfy', cursive;
    font-size: 47px;
    color: blue;
    margin-left: 10px;
}
.middleText{
    font-family: 'Marck Script', cursive;
    margin-left: 10px;
    font-size: 15px;
}
